<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .Button {
            padding: 4px;
            width: 200px;
        }
        .Logo{
            font-size: 720%;
            font-family: Courier;
        }
    </style>
</head>
<body>
    <div class="Logo">
        ACS
    </div>
    <button onclick="location.href='{% url 'checklist:login' %}'" class="Button"><i> log in </i></button><br/><br/>
    <button onclick="location.href='{% url 'checklist:studentCreateAccount' %}'" class="Button"><i> student sign up </i></button><br/><br/>
    <button onclick="location.href='{% url 'checklist:staffCreateAccount' %}'" class="Button"><i> institution sign up </i></button>
</body>
</html>