<!DOCTYPE html>
<html lang="en">
<head>
    <title>ACS - Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .vertical-center {
            min-height: 100%;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body class="bg-dark">
    <div class="vertical-center">
        <div class="container">
            <div class="row h-100 justify-content-center align-items-center text-center">
                <div class="col-12">
                    {% load static %}
                    <img src="{% static 'logo.png' %}" width="200" height="85" alt=""><br/><br/>
                    <div class="lead" style="color: azure">Application Checklist and Statistics</div><br/><br/>
                    <button onclick="location.href='{% url 'checklist:login' 0 %}'" type="button" class="btn btn-light">Login</button>
                    <button onclick="location.href='{% url 'checklist:studentCreateAccount' %}'" type="button" class="btn btn-light">Student Signup</button><br/><br/>
                    <button onclick="location.href='{% url 'checklist:staffCreateAccount' %}'" type="button" class="btn btn-outline-light">Institution Signup</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>