<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACS - Program Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('input').addClass('form-control');
            $('select').addClass('form-control');
        })
    </script>
</head>
<body>
<nav class="navbar navbar-expand-sm justify-content-between bg-dark navbar-dark sticky-top">
   <a class="navbar-brand" href="{% url 'checklist:index' %}">
       {% load static %}
       <img src="{% static 'logo.png' %}" width="70" height="30" alt="">
   </a>
   <ul class="navbar-nav">
       <li class="nav-item">
           <a class="nav-link" href="/search/">Search</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href='{% url 'checklist:login' 1 %}'>Sign Out</a>
       </li>
   </ul>
</nav>
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-6">
                <h1 class="display-3" style="font-size: 3vw">{{ university.School_name }}</h1>
                <h1 class="display-3" style="font-size: 2vw">{{ university.Address_street }}</h1>
                <h1 class="display-3" style="font-size: 2vw">{{ university.Address_city }} {{ university.Address_state }}</h1>
                <h1 class="display-3" style="font-size: 2vw">{{ university.Address_zipcode }}</h1><br/>
                <div class="dropright">
                    <button type="button" class="btn btn-sm btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        create a new requirement
                    </button>
                    <div class="dropdown-menu">
                        <form method="post" class="px-3">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {{ hidden_field }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                <label>{{ field.label_tag }}</label>
                                {{ field.errors }}
                                {{ field }}
                                {{ field.help_text }}
                                </div>
                            {% endfor %}
                            <input type="submit" class="btn btn-outline-secondary" value="create and add to checklist">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h1 class="display-4" style="font-size: 3vw">{{ program.Degree }} {{ program.Major }} {% if program.Certified %} (Certified) {% endif %}</h1>
                <h1 class="display-4" style="font-size: 3vw">Requirements</h1>
                <div id="accordion">
                {% if certified %}
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-sm text-dark btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Latest Certified Requirement
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">{{ certified.Term_season }} {{ certified.Term_year }}</li>
                                    <li class="list-group-item {% if not certified.Recommendation_letters %} disabled {% endif %}">Letter of Recommendation: {% if certified.Recommendation_letters %} Required {% else %} Not Required {% endif %}</li>
                                    <li class="list-group-item {% if not certified.Transcript %} disabled {% endif %}">Transcript: {% if certified.Transcript %} Required {% else %} Not Required {% endif %}</li>
                                    <li class="list-group-item {% if not certified.Tests %} disabled {% endif %}">Tests: {% if certified.Tests %} Required {% else %} Not Required {% endif %}</li>
                                    <li class="list-group-item {% if not certified.Statement_of_purpose %} disabled {% endif %}">Statement of Purpose: {% if certified.Statement_of_purpose %} Required {% else %} Not Required {% endif %}</li>
                                    <li class="list-group-item {% if not certified.Personal_statement %} disabled {% endif %}">Personal Statement: {% if certified.Personal_statement %} Required {% else %} Not Required {% endif %}</li>
                                </ul>
                                <a class="btn btn-secondary" style="width: 100%" href="{% url 'checklist:addToChecklist' certified.Requirement_id %}" role="button">add this requirement to checklist</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if latest %}
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-sm text-dark btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Latest Requirement
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">{{ latest.Term_season }} {{ latest.Term_year }}</li>
                                    <li class="list-group-item {% if not latest.Recommendation_letters %} disabled {% endif %}">Letter of Recommendation: {% if latest.Recommendation_letters %} Required {% else %} Not Required {% endif %}</li>
                                    <li class="list-group-item {% if not latest.Transcript %} disabled {% endif %}">Transcript: {% if latest.Transcript %} Required {% else %} Not Required {% endif %}</li>
                                    <li class="list-group-item {% if not latest.Tests %} disabled {% endif %}">Tests: {% if latest.Tests %} Required {% else %} Not Required {% endif %}</li>
                                    <li class="list-group-item {% if not latest.Statement_of_purpose %} disabled {% endif %}">Statement of Purpose: {% if latest.Statement_of_purpose %} Required {% else %} Not Required {% endif %}</li>
                                    <li class="list-group-item {% if not latest.Personal_statement %} disabled {% endif %}">Personal Statement: {% if latest.Personal_statement %} Required {% else %} Not Required {% endif %}</li>
                                </ul>
                                <a class="btn btn-secondary" style="width: 100%" href="{% url 'checklist:addToChecklist' latest.Requirement_id %}" role="button">add this requirement to checklist</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <br/>
                <div class="row">
                <div class="col-8">
                    <h1 class="display-2"style="font-size: 4vw">Past Admission Statistics</h1>
                </div>
                <div class="col-4">
                <div class="dropleft float-right">
                    <br/>
                    <button type="button" class="btn btn-sm btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        filter results
                    </button>
                    <div class="dropdown-menu">
                        <form method="post" class="px-3">
                            {% csrf_token %}
                            {{ filter_form.non_field_errors }}
                            {% for hidden_field in filter_form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {{ hidden_field }}
                            {% endfor %}
                            {% for field in filter_form.visible_fields %}
                                <div class="form-group">
                                <label>{{ field.label_tag }}</label>
                                {{ field.errors }}
                                {{ field }}
                                {{ field.help_text }}
                                </div>
                            {% endfor %}
                            <input type="submit" class="btn btn-outline-secondary" value="apply">
                        </form>
                    </div>
                </div>
                </div>
                </div>
                {% for feedback in feedbacks %}
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Term</th>
                                <th scope="col">Status</th>
                                <th scope="col">GPA</th>
                                <th scope="col">Standardized Test</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ feedback.Checklist_id.Term_season}} {{ feedback.Checklist_id.Term_Year}}</td>
                                <td>{{ feedback.Feedback_status}}</td>
                                <td>{{ feedback.GPA }}</td>
                                <td>{{ feedback.Standardized_Test }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table table class="table">
                        <tr>
                            <td style="width: 20%"><b>Former Institution</b></td>
                            <td style="width: 80%">{{ feedback.Former_school }}</td>
                        </tr>

                        <tr>
                            <td style="width: 20%"><b>Recommendation</b></td>
                            <td style="width: 80%">{{ feedback.Recommendation }}</td>
                        </tr>
                        <tr>
                            <td style="width: 20%"><b>Research Experience</b></td>
                            <td style="width: 80%">{{ feedback.Research }}</td>
                        </tr>
                        <tr>
                            <td style="width: 20%"><b>Publication</b></td>
                            <td style="width: 80%">{{ feedback.Publication }}</td>
                        </tr>
                        <tr>
                            <td style="width: 20%"><b>Additional Comments</b></td>
                            <td style="width: 80%">{{ feedback.Other_comments }}</td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>