<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ program.program_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>{{ university_name }}</h2>
        <p>{{ program.College }}</p>
        <p>{{ program.Degree }}</p>

        <h3>Requirements</h3>
        {% for requirement in requirements %}
        <ul>
            <li>Recommendation letter: {% if requirement.Recommendation_letters %} Required {% else %} Not Required {% endif %}</li>
            <li>Transcript: {% if requirement.Transcript %} Required {% else %} Not Required {% endif %}</li>
            <li>Tests: {% if requirement.Tests %} Required {% else %} Not Required {% endif %}</li>
            <li>Statement of Purpose: {% if requirement.Statement_of_purpose %} Required {% else %} Not Required {% endif %}</li>
            <li>Personal Statement: {% if requirement.Personal_statement %} Required {% else %} Not Required {% endif %}</li>
        </ul>
            <form method="post">
                {% csrf_token %}
                <input type="submit" value="add to checklist">
            </form>
        {% endfor %}

        </br></br>
        <h3>Feedbacks</h3>
        {% for feedback in feedbacks %}
        <ul>
            <li>Status: {{ feedback.Feedback_status}} </li>
            <li>GPA: {{ feedback.GPA }}</li>
            <li>Standarized Test: {{ feedback.Standardized_Test }}</li>
            <li>Recommendation: </li>
            <p>{{ feedback.Recommendation }}</p>
            <li>Research: </li>
            <p>{{ feedback.Research }}</p>
        </ul>
        {% endfor %}
    </div>
</body>
</html>