<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ program.program_name }}</title>
</head>
<body>
    {% block content %}
        <h2>{{ program.program_name }}</h2>
        <p>{{ program.College }}</p>
        <p>{{ program.Degree }}</p>

        <h3>Requirements</h3>
        {% for requirement in requirements %}
        <ul>
            <li>Term Year: {{ requirement.Term_Year}} </li>
            <li>Recommendation letter?: {{ requirement.Recommendation_letters }}</li>
            <li>Transcript?: {{ requirement.Transcript }}</li>
            <li>Tests?: {{ requirement.Tests }}</li>
            <li>Statement of Purpose?: {{ requirement.Statement_of_purpose }}</li>
            <li>Personal Statement?: {{ requirement.Personal_statement }}</li>
        </ul>
            <form method="post">
                {% csrf_token %}
                <input type="submit" value="add to checklist">
            </form>
        {% endfor %}
    {% endblock %}
</body>
</html>