<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if messages %}
        <p>
            <ul class="messages">
                {% for message in messages %}
                    Warning: {{ message }}
                {% endfor %}
            </ul>
        </p>
        <button onclick="location.href='{% url 'checklist:createProgram' %}'"><i> create a new program </i></button>
    {% endif %}
    {% if form %}
    <form action="/search/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="search">
    </form>
    {% endif %}
    {% if programs %}
        {% for program in programs %}
            <div/>
            <a href="{% url 'checklist:detail_program' program.Program_id %}">
            {{ program.School_id.School_name }}
            {{ program.Degree }}
            {{ program.Major }}
            </a>
        {% endfor %}
        <br/><br/>
        <button onclick="location.href='{% url 'checklist:createProgram' %}'"><i> create a new program </i></button>
    {% endif %}
</body>
</html>