<!DOCTYPE html>
<html lang="en">
<head>
    <title>ACS - Program Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('input').addClass('form-control');
        })
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-sm justify-content-between bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href="{% url 'checklist:index' %}">
            {% load static %}
            <img src="{% static 'logo.png' %}" width="70" height="30" alt="">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/search/">Search</a>
             </li>
            <li class="nav-item">
                <a class="nav-link" href='{% url 'checklist:login' 1 %}'>Sign Out</a>
            </li>
        </ul>
    </nav>
    <div class="container">
    <br/><br/>
    {% if form %}
    <form action="/search/" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-group">
            <label>{{ field.label_tag }}</label>
            {{ field.errors }}
            {{ field }}
            {{ field.help_text }}
            </div>
        {% endfor %}
        <br/>
        <input type="submit" class="btn btn-dark" value="search">
    </form>
    {% endif %}
    {% if programs %}
        <br/><br/>
        <div class="row">
            <div class="col-10">
                <div class="list-group">
                    {% for program in programs %}
                        <a href="{% url 'checklist:detail_program' program.Program_id %}" class="list-group-item list-group-item-action">
                            {{ program.School_id.School_name }}
                            {{ program.Degree }}
                            {{ program.Major }}
                            {% if program.Certified %} (Certified) {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br/>
        <button onclick="location.href='{% url 'checklist:createProgram' %}'" class="btn btn-outline-dark">create a new program</button>
    {% endif %}
    {% if messages %}
        <br/><br/>
        <h5>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </h5>
        <br/>
        <button onclick="location.href='{% url 'checklist:createProgram' %}'" class="btn btn-outline-dark">create a new program</button>
    {% endif %}
    </div>
</body>
</html>