<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACS - Institution Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .vertical-center {
            min-height: 100%;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            $('input').addClass('form-control');
        })
    </script>
</head>
<body>
<nav class="navbar navbar-expand-sm justify-content-between bg-dark navbar-dark sticky-top">
   <a class="navbar-brand" href="{% url 'checklist:index' %}">
       {% load static %}
       <img src="{% static 'logo.png' %}" width="70" height="30" alt="">
   </a>
   <ul class="navbar-nav">
       <li class="nav-item">
           <a class="nav-link" href="#">Sign Out</a>
       </li>
   </ul>
</nav>
    <div class="vertical-center">
    <div class="container">
      <div class="row h-100 justify-content-center align-items-center text-center">
        <div class="col-4">
            <form action="/studentCreateAccount/" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                    <label>{{ field.label_tag }}</label>
                    {{ field.errors }}
                    {{ field }}
                    {{ field.help_text }}
                    </div>
                {% endfor %}
                <br/>
                <input type="submit" class="btn btn-dark" value="signup">
            </form>
            {% if messages %}
                <br/>
                <h5>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </h5>
            {% endif %}
            <div style="height: 50px"></div>
        </div>
      </div>
    </div>
    </div>
</body>
</html>